
button {
  background: #b67a11;
  border-radius: 999px;
  box-shadow: #885707 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

label {
    display: block;
    margin: 0 0 10px;
    color: gray;
    font-size: 12px;
    font-weight: semibold;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .2em;

    .two & {
      color: white;
    }
  }

  input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 80%;
    border: 2px solid gray;
    align-self: center;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: gray;
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    transition: 0.3s ease;
    margin: 0 auto;

    &:focus {
      color: dark-gray;
      background-color: white;
    }
}

button:hover {

    background-color:rgb(218, 172, 43);
}
body{
    padding: 0;
    margin: 0;
    color: #1a1f36;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Playfair Display', serif;
    text-align:center;
    justify-content: center;
}

.eventos_env {
    display: flex;
    margin: 0 auto;
    background-color: #fffde5; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.eventos_env > div {
    flex-basis: calc(50% - 10px); 
    margin-bottom: 20px; 
}

.eventos_env img {
    transition: transform 0.3s ease;
    width: 400px;
}

.eventos_env:hover img {
    transform: scale(1.1);
}


.boda,
.baby_shower,
.prom,
.cumples,
.otras {
    box-sizing: border-box; 
}

.formulario {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fbc56e; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.backlog {
    height: 100% !important;
    background: url(../static/imagenes/cat2.jpg) no-repeat center;
    background-size:cover;
}
.backform {
    height: 100% !important;
    background: url(../static/imagenes/cat3.png) no-repeat center;
    background-size:cover;
}


button {
    background-color: #46230a; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #B68A14;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
}

.header {
    height: 60vh !important;
    background: url(../static/imagenes/cat1.jpg) no-repeat center;
    background-size:cover;
}

.title {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #f2de9c;
    
    text-shadow: 1px 4px 4px #46230a;
    padding: 10px;  
}

.subtitle {
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: #eed275;
    
    text-shadow: 1px 4px 4px #46230a;
    padding: 10px;  
}
.subsubtitle {
    margin-bottom: 40px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    
    text-shadow: 1px 1px 4px #46230a;;
    padding: 10px;  
}

p {
    margin-bottom: 40px;
    font-size: 30px;
    text-shadow: 1px 1px 4px #391c08;
    padding: 10px;  
    -webkit-text-stroke: 0.4px #4f360e;
    text-shadow: 1px 1px 2px #46230a;;
    color: white;  
    font-weight: 900;
}

.content {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sau {
    padding: 30px;
    background: #926f0f;
}


.navbar {
    display: flex;
    margin-right: 10px;
}

.navbar a {
    display: block;
    padding: 23px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

.navbar a:hover {
    background: #fbc56e;
}

input[type="text"]{
    padding:3px;
    border-radius:8px;
    justify-content: center;
}
input[type="password"]{
    padding:3px;
    border-radius:8px;
    justify-content: center;
}
input[type="number"]{
    padding:3px;
    border-radius:8px;
    justify-content: center;
}
input[type="email"]{
    padding:3px;
    border-radius:8px;
    justify-content: center;
}
table{
    width:100%;
    border-collapse:collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;  
}

.contacto {
    background-color: #fff4e3; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.contacto h2 {
    color: #46230a; 
}

.contacto ul {
    list-style: none;
    padding: 0;
}

.contacto li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #46230a; 
}

.contacto li:last-child {
    margin-bottom: 0; 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #e8c967;
    color: #3a1d08;
    padding: 10px;
    text-align: left;
}

td {
    background-color: #fff;
    color: #3a1d08;
    padding: 10px;
    text-align: left;
    border: 1px solid #e8c967;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
