<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Pagina de Administracion</h1>
    <p>Agregar un nuevo empleado </p>
    <form action="/ingresar_empleado" method="get">
        <button type="submit">Empleado</button>
    </form>
    <p>Agregar un nuevo servicio de menu  </p>
    <form action="/ingresar_menu" method="get">
        <button type="submit">Agregar Servicio</button>
    </form>
    <p>Actualizar los datos de un empleado</p>
    <form action="/actualizar_dato" method="get">
        <button type="submit">Actualizar </button>
    </form>
    <p>Mostrar los datos de todos los clientes  </p>
    <form action="{{url_for('mostrar_datos')}}" method="get">
        <button type="submit">Mostrar Datos</button>
    </form>
    <form action="/" method="get" id="logoutButton" >
        <button type="submit">Cerrar Sesion</button>
    </form>
</body>
</html>