<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('ingresar_producto') }}" method="post">

        <label for="nom_prod">Nombre del producto:</label>
        <input type="texto" id="nom_prod"  name="nom_prod" maxlength="50" required><br>

        <label for="cant ">Cantidad:</label>
        <input type="number" id="cant" name="cant"  required><br>

        <label for="unidad ">Unidad de medida:</label>
        <input type="texto" id="unidad " name="unidad " maxlength="20"required><br>

        <label for="precio ">Precio por unidad:</label>
        <input type="number" id="precio"  name="precio"  required><br>

        <label for="dep">Departamento:</label>
        <input type="text" id="dep" name="dep"  maxlength="20" required><br>

        <label for="proveedor ">ID del proveedor:</label>
        <input type="number" id="proveedor" name="proveedor"  maxlength="20" required><br>

        <button id="backButton">Back</button>
        <script>
            document.getElementById("backButton").addEventListener("click", function() {
                window.history.back();
            });
        </script>
        <form action="{{ url_for('ingresar_producto') }}" method="get">
        <button type="submit">Enviar</button>
        </form>
    </form> 
</body>
</html>