<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('ingresar_comentario') }}" method="post">

        <label for="comentario">Comentario:</label>
        <input type="texto" id="comentario"  name="comentario" maxlength="100" required><br>

        <label for="calificacion">Calificacion:</label>
        <input type="number" id="calificacion" name="calificacion"  required><br>

        <label for="dni_cliente">Ingrese su DNI:</label>
        <input type="number" id="dni_cliente" name="dni_cliente"  required><br>

        <button id="backButton">Back</button>
        <script>
            document.getElementById("backButton").addEventListener("click", function() {
                window.history.back();
            });
        </script>
        <form action ="{{ url_for('ingresar_comentario') }}" method="get" >
        <button type="submit">Enviar</button>
        </form>        

    </form>
</body>
</html>