<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bienvenido a la página de registro</h1>
    <p>Aquí puedes empezar</p>
    <form action="{{ url_for('formulario_insertar') }}" method="get">
        <button type="submit" id="insertButton">Insertar</button>
    </form>
    <form action="{{ url_for('mostrar_datos') }}" method="get">
        <button type="submit" id="showButton">Mostrar</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
</body>
</html>
