<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicio Catering</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Servicio de Catering Arequipa</h1>
    <p>Cotizar servicio de catering</p>
    <form action="/cotizar" method="get">
        <button type="submit">Cotizar</button>
    </form>
    <p>Solo administrativos</p><br>
    <form action="/sesion" method="get">
        <button type="submit">Login</button>
    </form>
    <p>Ofrecemos cobertura a diferentes tipos de eventops asi como amplia catalogo de menus</p>
    <form action="{{ url_for('mostrar_servicios') }}" method="get">
        <button type="submit">Ver catalogo</button>
    </form>
    <p>¿Te gusto nuestro servicio?. Dejanos tu comentario</p>
    <form action="/comentario" method="get">
        <button type="submit">comentar</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>