<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="backlog">
        <h1 class="title">Login</h1>
        <div class="formulario">
            <form id="loginForm">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required><br>
                <button type="submit">Iniciar Sesión</button>
                <button id="backButton">Atrás</button>
            </form>
        <p id="errorMessage" style="color: red; display: none;">Usuario o Contraseña incorrecto. Intente de nuevo.</p>
        </div>
    </div>    
    <script>
        document.getElementById("backButton").addEventListener("click", function() {
            window.history.back();
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='login.js') }}"></script>
</body>
</html>